{% extends 'KNGarment_Order_TrackPro_App/base.html' %}
{% load static %}

{% block stylesheets %}
<style type="text/css">
        .heading_bold {
            font-weight: bold;
            width: 50%;
            text-align: left;
        }
</style>
{% endblock stylesheets %}

{% block content %}

        <!-- PAGE CONTENT  -->
        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn" style="background-color: #87c241;color: white">
                    <i class="fas fa-align-left"></i>
                </button>
                <hr>
                <h2>Order Details</h2>
                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Order Number</td>
                            <td class="text-center">{{orders.order_order_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Type</td>
                            <td class="text-center">{{orders.order_order_type}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Brand</td>
                            <td class="text-center">{{orders.order_order_brands}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Style Number</td>
                            <td class="text-center">{{orders.order_order_style_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fit </td>
                            <td class="text-center">{{orders.order_order_fit}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Quantity</td>
                            <td class="text-center">{{orders.order_order_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Date</td>
                            <td class="text-center">{{orders.order_order_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td class="text-center">{{orders.order_delivery_date}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Category</td>
                            <td class="text-center">{{orders.order_order_category}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Notes</td>
                            <td class="text-center">{{orders.order_order_remark}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>

                
            <hr>
            <h2>Fabric Details</h2>
            <hr>
            <form action={% url 'KNGarment_Order_TrackPro_App:add_new_fabric_order_form_submit' %} method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label for="fabric_order_sort_number">Sort Number</label>
                        <input type="number" min="1" class="form-control" id="fabric_order_sort_number" name="fabric_order_sort_number">
                    </div>
                    <div class="col">
                        <label for="fabric_supplier">Fabric Supplier</label>
                        <input type="text" min="1" class="form-control" id="process_vendor_name" name="process_vendor_name">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="fabric_order_quantity">Order Quantity</label>
                        <input type="number" min="1" class="form-control" id="process_received_quantity" name="process_received_quantity">
                    </div>
                    <div class="col">
                        <label for="process_delivery_date">Delivery Date</label><br>
                        <input type="date" class="form-control" id="process_delivery_date" name="process_delivery_date">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Fabric Details</button>
                    </div>
                </div>
            </form>


            <br>
            <hr>
            <h2>Stiching Details</h2>
            <hr>
             <form action={% url 'KNGarment_Order_TrackPro_App:add_new_stiching_form_submit' %} method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label for="process_vendor_name">Job Worker Name</label>
                        <input type="text" min="1" class="form-control" id="process_vendor_name" name="process_vendor_name">
                    </div>
                    <div class="col">
                        <label for="process_vendor_location">Job Worker Location</label>
                        <input type="text" min="1" class="form-control" id="process_vendor_location" name="process_vendor_location">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="stiching_average_one">Average</label>
                        <input type="number" min="1" class="form-control" id="stiching_average_one" name="stiching_average_one">
                    </div>
                    <div class="col">
                        <label for="stiching_rate_one">Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="stiching_rate_one" name="stiching_rate_one">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="stiching_average_two">Average</label>
                        <input type="number" min="1" class="form-control" id="stiching_average_two" name="stiching_average_two">
                    </div>
                    <div class="col">
                        <label for="stiching_rate_two">Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="stiching_rate_two" name="stiching_rate_two">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="stiching_average_three">Average</label>
                        <input type="number" min="1" class="form-control" id="stiching_average_three" name="stiching_average_three">
                    </div>
                    <div class="col">
                        <label for="stiching_rate_three">Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="stiching_rate_three" name="stiching_rate_three">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="process_delivery_date">Delivery Date</label><br>
                        <input type="date" class="form-control" id="process_delivery_date" name="process_delivery_date">
                    </div>
                    <div class="col">
                        <label for="stiching_opening_fabric_stock">Opening Fabric Stock</label>
                        <input type="number" min="1" class="form-control" id="stiching_opening_fabric_stock" name="stiching_opening_fabric_stock">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="stiching_opening_stock_date">Opening Stock Date</label><br>
                        <input type="date" class="form-control" id="stiching_opening_stock_date" name="stiching_opening_stock_date">
                    </div>
                    <div class="col">
                        <label for="process_received_date">Fabric Received Date</label><br>
                        <input type="date" class="form-control" id="process_received_date" name="process_received_date">
                    </div>
                </div>
                <div class="form-row">
                <div class="col">
                        <label for="fabric_bill_number">Fabric Bill Number</label><br>
                        <div class="form-group">
                            <select class="form-control" id="stiching_fabric_bill_number" name="stiching_fabric_bill_number">
                                {% for bill_number in fabric_bill_numbers %}
                                <option value={{ bill_number.process_bill_number }}>{{ bill_number.process_bill_number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label for="stiching_fabric_bill_date">Fabric Bill Date</label><br>
                        <input type="date" class="form-control" id="stiching_fabric_bill_date" name="stiching_fabric_bill_date">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="process_received_quantity">Fabric Quantity Received </label><br>
                        <input type="number" min="1" class="form-control" id="process_received_quantity" name="process_received_quantity">
                    </div>
                    <div class="col">
                        <label for="stiching_fabric_used">Fabric Used</label><br>
                        <input type="text" class="form-control" id="stiching_fabric_used" name="stiching_fabric_used">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="stiching_fabric_bill_number">Bill Number </label><br>
                        <input type="number" min="1" class="form-control" id="stiching_fabric_bill_number" name='stiching_fabric_bill_number'>
                    </div>
                    <div class="col">
                        <label for="process_bill_file">Bill File</label><br>
                        <input type="file" class="form-control" id="process_bill_file" name="process_bill_file">
                    </div>
                </div>



                <br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Stiching Details</button>
                    </div>
                </div>
            </form>





            <br>
            <hr>
            <h2>Washing Details</h2>
            <hr>
             <form action={% url 'KNGarment_Order_TrackPro_App:add_new_washing_order_form_submit' %} method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label for="process_vendor_name">Washer Name</label>
                        <input type="text" class="form-control" id="process_vendor_name" name="process_vendor_name">
                    </div>
                    <div class="col">
                        <label for="process_vendor_location">Washer Location</label>
                        <input type="text" class="form-control" id="process_vendor_location" name="process_vendor_location">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="process_received_quantity">Received Quantity</label>
                        <input type="number" min="1" class="form-control" id="process_received_quantity" name="process_received_quantity">
                    </div>
                    <div class="col">
                        <label for="process_received_date">Received Date</label><br>
                        <input type="date" class="form-control" id="process_received_date" name="process_received_date">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="washing_process_name">Process</label><br>
                        <input type="text" class="form-control" id="washing_process_name" name="washing_process_name">
                    </div>
                    <div class="col">
                        <label for="washing_rate">Rate</label>
                        <input type="number" min="1" class="form-control" id="washing_rate" name="washing_rate">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="process_delivery_date">Delivery Date</label><br>
                        <input type="date" class="form-control" id="process_delivery_date" name="process_delivery_date">
                    </div>
                    <div class="col">
                        <label for="washing_delivery_quantity">Delivery Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="washing_delivery_quantity" name="washing_delivery_quantity">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="process_bill_number">Bill Number </label><br>
                        <input type="number" min="1" class="form-control" id="process_bill_number" name="process_bill_number">
                    </div>
                    <div class="col">
                        <label for="process_bill_file">Bill File</label><br>
                        <input type="file" class="form-control" id="process_bill_file" name="process_bill_file">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Washing Details</button>
                    </div>
                </div>
            </form>


            <br>
            <hr>
            <h2>Finishing Details</h2>
            <hr>
            <form action="Order_Details_2.html" method="post">
                <div class="form-row">
                    <div class="col">
                        <label for="finishing_name">Finishing Name</label>
                        <input type="text" class="form-control" id="finishing_name">
                    </div>
                    <div class="col">
                        <label for="finishing_location">Finishing Location</label>
                        <input type="text" class="form-control" id="finishing_location">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="recieved_quantity">Received Quantity</label>
                        <input type="number" min="1" class="form-control" id="recieved_quantity">
                    </div>
                    <div class="col">
                        <label for="received_date">Received Date</label><br>
                        <input type="date" class="form-control" id="received_date">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="rate">Rate</label>
                        <input type="number" min="1" class="form-control" id="rate">
                    </div>
                    <div class="col">
                        <label for="delivery_date">Delivery Date</label><br>
                        <input type="date" class="form-control" id="delivery_date">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="delivery_quantity">Delivery Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="delivery_quantity">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="finishing_bill_no">Bill Number </label><br>
                        <input type="number" min="1" class="form-control" id="finishing_bill_no">
                    </div>
                    <div class="col">
                        <label for="finishing_bill_file">Bill File</label><br>
                        <input type="file" class="form-control" id="finishing_bill_file">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Finishing Details</button>
                    </div>
                </div>
            </form>




            <br>
            <hr>
            <h2>Dispatch Details</h2>
            <hr>
            <form action="Order_Details_2.html" method="post">
                <div class="form-row">
                    <div class="col">
                        <label for="recieved_quantity">Received Quantity</label>
                        <input type="number" min="1" class="form-control" id="recieved_quantity">
                    </div>
                    <div class="col">
                        <label for="received_date">Received Date</label><br>
                        <input type="date" class="form-control" id="received_date">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="dispatch_quantity">Dispatch Quantity</label>
                        <input type="number" min="1" class="form-control" id="dispatch_quantity">
                    </div>
                    <div class="col">
                        <label for="balance_quantity">Balance Quantity</label>
                        <input type="number" min="1" class="form-control" id="balance_quantity">
                    </div>

                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="rejected_quantity">Rejected Quantity</label>
                        <input type="number" min="1" class="form-control" id="rejected_quantity">
                    </div>
                    <div class="col">
                        <label for="finishing_bill_no">Bill Number </label><br>
                        <input type="number" min="1" class="form-control" id="finishing_bill_no">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="finishing_bill_file">Bill File</label><br>
                        <input type="file" class="form-control" id="finishing_bill_file" placeholder="Import PDF File">
                    </div>
                </div>


                <br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Dispatching Details</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--PAGE CONTENT ENDS HERE-->

{% endblock content %}

{% block script %}

        
{% endblock %}
{% block extrascript %}


{% endblock %}