{% extends 'KNGarment_Order_TrackPro_App/base.html' %}
{% load static %}

{% block content %}
        <!-- PAGE CONTENT  -->
        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn" style="background-color: #87c241;color: white">
                    <i class="fas fa-align-left"></i>
                </button>
                <hr>
                <h2>Add New Order</h2>
                <hr>
                <form action={% url 'KNGarment_Order_TrackPro_App:add_new_order_form_submit' %} method="post">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                            <label for="order_order_number">Order Number</label>
                            <input type="number" min="1" class="form-control" id="order_order_number" name="order_order_number">
                        </div>
                        <div class="col">
                            <label for="order_order_type">Order Type</label><br>
                            <select id="order_order_type" name="order_order_type" class="form-control">
                                <option>Mens</option>
                                <option>Ladies</option>
                                <option>Boys Denim</option>
                                <option>Girls Denim</option>
                                <option>Girls Cotton</option>
                                <option>Ethenic</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col">
                            <label for="order_order_brands">Brands</label><br>
                            <select id="order_order_brands" name="order_order_brands" class="form-control">
                                <option>DJ & C</option>
                                <option>Pink & Blue</option>
                                <option>Lee Cooper</option>

                            </select>
                        </div>
                        <div class="col">
                            <label for="order_order_style_number">Style Number</label><br>
                            <input type="text" class="form-control" id="order_order_style_number" name="order_order_style_number">
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col">
                            <label for="order_order_fit">Fit</label><br>
                            <select id="order_order_fit" name="order_order_fit" class="form-control">
                                <option>Slim</option>
                                <option>Skinny</option>
                                <option>Mid Waist</option>

                            </select>
                        </div>
                        <div class="col">
                            <label for="order_order_quantity">Quantity</label>
                            <input type="number" min="1" class="form-control" id="order_order_quantity" name="order_order_quantity">
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col">
                            <label for="order_order_date">Order Date</label><br>
                            <input type="date" class="form-control" id="order_order_date" name="order_order_date">
                        </div>
                        <div class="col">
                            <label for="order_delivery_date">Delivery Date</label>
                            <input type="date" class="form-control" id="order_delivery_date" name="order_delivery_date">
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col">
                            <label for="order_order_category">Category</label><br>
                            <input type="text" class="form-control" id="order_order_category" name="order_order_category">
                        </div>
                        <div class="col">
                            <label for="order_order_remark">Notes</label>
                            <input type="text" class="form-control" id="order_order_remark" name="order_order_remark">
                        </div>
                    </div><br>
                    <!--   Checkbox Start-->
                    <div class="form-row">
                        <label>Cutting Ratio:</label>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <label for="mens_or_ladies_checkbox" class="checkbox-inline">Mens or Ladies</label>
                            <input type="checkbox" id="mens_or_ladies_checkbox" name="mens_or_ladies_checkbox" value="mens_or_ladies_checkbox">
                        </div>

                        <div class="col">
                            <label for="kids_checkbox" class="checkbox-inline">Kids</label>
                            <input type="checkbox" id="kids_checkbox" name="kids_checkbox" value="kids_checkbox">
                        </div>

                        <div class="col">
                            <label for="ethenic_checkbox" class="ckeckbox-inline">Ethenic</label>
                            <input type="checkbox" id="ethenic_checkbox" name="ethenic_checkbox" value="ethenic_checkbox">
                        </div>
                    </div>
                    <!--   Checkbox Ends-->

                    <!-- Checkbox Forms start      -->


                    <!--  mens or ladies form-->
                    <div id="mensnladies_details_form" style="display: none">
                        <hr>
                        <h2>Mens or Ladies</h2>
                        <hr>

                        <div class="container">
                            <div class="form-row">
                                <div class="col"><label>Size</label><br><br>
                                    <label>Ratio</label><br><br>
                                    <label>Quantity</label>
                                </div>
                                <div class="col">
                                    <label for="size_26">26</label><br><br>
                                    <input class="form-control" type="text" id="ratio_26" name="ratio_26" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_26" name="quantity_26" onclick="myFunction()">
                                </div>
                                <div class="col">
                                    <label for="size_28">28</label><br><br>
                                    <input class="form-control" type="text" id="ratio_28" name="ratio_28" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_28" name="quantity_28" onclick="myFunction()">

                                </div>
                                <div class="col">
                                    <label for="size_30">30</label><br><br>
                                    <input class="form-control" type="text" id="ratio_30" name="ratio_30" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_30" name="quantity_30" onclick="myFunction()">
                                </div>
                                <div class="col">
                                    <label for="size_32">32</label><br><br>
                                    <input class="form-control" type="text" id="ratio_32" name="ratio_32" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_32" name="quantity_32" onclick="myFunction()">
                                </div>
                                <div class="col">
                                    <label for="size_34">34</label><br><br>
                                    <input class="form-control" type="text" id="ratio_34" name="ratio_34" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_34" name="quantity_34" onclick="myFunction()">
                                </div>
                            </div>
                        </div><br>
                        <div class="container">
                            <div class="form-row">
                                <div class="col"><label>Size</label><br><br>
                                   <label>Ratio</label><br><br>
                                    <label>Quantity</label>
                                </div>
                                <div class="col">
                                    <label for="size_36">36</label><br><br>
                                    <input class="form-control" type="text" id="ratio_36" name="ratio_36" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_36" name="quantity_36" onclick="myFunction()">

                                </div>
                                <div class="col">
                                    <label for="size_38">38</label><br><br>
                                    <input class="form-control" type="text" id="ratio_38" name="ratio_38" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_38" name="quantity_38" onclick="myFunction()">
                                </div>
                                <div class="col">
                                    <label for="size_40">40</label><br><br>
                                    <input class="form-control" type="text" id="ratio_40" name="ratio_40" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_40" name="quantity_40" onclick="myFunction()">
                                </div>
                                <div class="col">
                                    <label for="size_42">42</label><br><br>
                                    <input class="form-control" type="text" id="ratio_42" name="ratio_42" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_42" name="quantity_42" onclick="myFunction()">
                                </div>
                                <div class="col">
                                    <label for="size_44">44</label><br><br>
                                    <input class="form-control" type="text" id="ratio_44" name="ratio_44" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="quantity_44" name="quantity_44" onclick="myFunction()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  mens or ladies form-->




                    <!--    kids form       -->
                    <div id="kids_details_form" style="display: none">
                        <hr>
                        <h2>Kids</h2>
                        <hr>
                        <div class="container">
                            <div class="form-row">
                                <div class="col"><label>Age</label><br><br>
                                    <label>Ratio</label><br><br>
                                    <label>Quantity</label>
                                </div>
                                <div class="col">
                                    <label for="2_years">2 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_2" name="ratio_2" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="2_years" name="2_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="3_4_years">3-4 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_3_4" name="ratio_3_4" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="3_4_years" name="3_4_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="5_6_years">5-6 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_5_6" name="ratio_5_6" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="5_6_years" name="5_6_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="7_8_years">7-8 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_7_8" name="ratio_7_8" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="7_8_years" name="7_8_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="9_10_years">9-10 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_9_10" name="ratio_9_10" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="9_10_years" name="9_10_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="11_12_years">11-12 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_11_12" name="ratio_11_12" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="11_12_years" name="11_12_years" onclick="myFunction1()">
                                </div>
                            </div>
                        </div><br>
                        <div class="container">
                            <div class="form-row">
                                <div class="col"><label>Age</label><br><br>
                                    <label>Ratio</label><br><br>
                                    <label>Quantity</label>
                                </div>

                                <div class="col">
                                    <label for="13_14_years">13-14 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_13_14" name="ratio_13_14" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="13_14_years" name="13_14_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="15_16_years">15-16 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_15_16" name="ratio_15_16" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="15_16_years" name="15_16_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="2_3_years">2-3 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_2_3" name="ratio_2_3" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="2_3_years" name="2_3_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="4_5_years">4-5 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_4_5" name="ratio_4_5" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="4_5_years" name="4_5_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="6_7_years">6-7 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_6_7" name="ratio_6_7" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="6_7_years" name="6_7_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="8_9_years">8-9 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_8_9" name="ratio_8_9" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="8_9_years" name="8_9_years" onclick="myFunction1()">
                                </div>
                                <div class="col">
                                    <label for="10_11_years">10-11 Years</label><br><br>
                                    <input class="form-control" type="text" id="ratio_10_11" name="ratio_10_11" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="10_11_years" name="10_11_years" onclick="myFunction1()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Kids Form  End    -->

                    <!--   Ethenics form strat -->
                    <div id="ethenic_details_form" style="display: none">
                        <hr>
                        <h2>Ethenic</h2>
                        <hr>
                        <div class="container">
                            <div class="form-row">
                                <div class="col"><label>Size</label><br><br>
                                    <label>Ratio</label><br><br>
                                    <label>Quantity</label>
                                </div>
                                <div class="col">
                                    <label for="xs">XS</label><br><br>
                                    <input class="form-control" type="text" id="ratio_xs" name="ratio_xs" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="xs_size" name="xs_size" onclick="myFunction2()">
                                </div>
                                <div class="col">
                                    <label for="s">S</label><br><br>
                                    <input class="form-control" type="text" id="ratio_s" name="ratio_s" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="s_size" name="s_size" onclick="myFunction2()">
                                </div>
                                <div class="col">
                                    <label for="M">M</label><br><br>
                                    <input class="form-control" type="text" id="ratio_m" name="ratio_m" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="m_size" name="m_size" onclick="myFunction2()">
                                </div>
                                <div class="col">
                                    <label for="l">L</label><br><br>
                                    <input class="form-control" type="text" id="ratio_l" name="ratio_l" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="l_size" name="l_size" onclick="myFunction2()">
                                </div>
                            </div>
                        </div><br>
                        <div class="container">
                            <div class="form-row">
                                <div class="col"><label>Size</label><br><br>
                                    <label>Ratio</label><br><br>
                                    <label>Quantity</label>
                                </div>
                                <div class="col">
                                    <label for="xl">XL</label><br><br>
                                    <input class="form-control" type="text" id="ratio_xl" name="ratio_xl" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="xl_size" name="xl_size" onclick="myFunction2()">
                                </div>
                                <div class="col">
                                    <label for="xxl">XXL</label><br><br>
                                    <input class="form-control" type="text" id="ratio_xxl" name="ratio_xxl" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="xxl_size" name="xxl_size" onclick="myFunction2()">
                                </div>
                                <div class="col">
                                    <label for="xxxl">XXXL</label><br><br>
                                    <input class="form-control" type="text" id="ratio_xxxl" name="ratio_xxxl" value="0"><br>
                                    <input class="form-control" min="1" type="number" id="xxxl_size" name="xxxl_size" onclick="myFunction2()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--   Ethenics form End -->

                    <!-- Checkbox Forms Ends    -->

                    <br>
                    <br>
                    <div class="form-row">
                        <div class="col">
                         <input type="text" id="tempo" onclick="myFunction()" placeholder="m&l">
                            <input type="text" id="tempo1" onclick="myFunction1()" placeholder="kids">
                            <input type="text" id="tempo2" onclick="myFunction2()" placeholder="ethenics">
                            <button type="submit" class="btn btn-block" style="background-color: #87c241;color: white">Save Order Details And Add Processes</button>
                        </div>
                    </div>
                </form>
                <!--     Main  Form End-->
            </div>
        </div>
    </div>
    <!--PAGE CONTENT ENDS HERE-->

    <script type="text/javascript">
        $(document).ready(function() {
            $('#mens_or_ladies_checkbox').change(function() {
                $('#mensnladies_details_form').fadeToggle();
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#kids_checkbox').change(function() {
                $('#kids_details_form').fadeToggle();
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#ethenic_checkbox').change(function() {
                $('#ethenic_details_form').fadeToggle();
            });
        });
    </script>

<!-------------------   Quantity Ratio Calculation------------------------->
---->
    <script>
//       --------------------   Function of mens & Ladies start-------------------------
        function myFunction() {
            var total_quantity = parseInt(document.getElementById("order_order_quantity").value);
            var ratio26 = parseInt(document.getElementById("ratio_26").value);
            var ratio28 = parseInt(document.getElementById("ratio_28").value);
            var ratio30 = parseInt(document.getElementById("ratio_30").value);
            var ratio32 = parseInt(document.getElementById("ratio_32").value);
            var ratio34 = parseInt(document.getElementById("ratio_34").value);
            var ratio36 = parseInt(document.getElementById("ratio_36").value);
            var ratio38 = parseInt(document.getElementById("ratio_38").value);
            var ratio40 = parseInt(document.getElementById("ratio_40").value);
            var ratio42 = parseInt(document.getElementById("ratio_42").value);
            var ratio44 = parseInt(document.getElementById("ratio_44").value);

            var temp = total_quantity/(ratio26 + ratio28 + ratio30 + ratio32 + ratio34 + ratio36 + ratio38 + ratio40 + ratio42 + ratio44);
            document.getElementById("tempo").value = temp;
            
            var quanity26 = ratio26 * temp;
            document.getElementById("quantity_26").value = quanity26;
            var quanity28 = ratio28 * temp;
            document.getElementById("quantity_28").value = quanity28;
            var quanity30 = ratio30 * temp;
            document.getElementById("quantity_30").value = quanity30;
            var quanity32 = ratio32 * temp;
            document.getElementById("quantity_32").value = quanity32;
            var quanity34 = ratio34 * temp;
            document.getElementById("quantity_34").value = quanity34;
            var quanity36 = ratio36 * temp;
            document.getElementById("quantity_36").value = quanity36;
            var quanity38 = ratio38 * temp;
            document.getElementById("quantity_38").value = quanity38;
            var quanity40 = ratio40 * temp;
            document.getElementById("quantity_40").value = quanity40;
            var quanity42 = ratio42 * temp;
            document.getElementById("quantity_42").value = quanity42;
            var quanity44 = ratio44 * temp;
            document.getElementById("quantity_44").value = quanity44;

        }
//   /----------------------     Function of mens & ladies end -----------------------
        
//  ---------------------      Function of kids start --------------------------------
        
        function myFunction1() {
            var total_quantity1 = parseInt(document.getElementById("order_order_quantity").value);
            var ratio2 = parseInt(document.getElementById("ratio_2").value);
            var ratio3_4 = parseInt(document.getElementById("ratio_3_4").value);
            var ratio5_6 = parseInt(document.getElementById("ratio_5_6").value);
            var ratio7_8 = parseInt(document.getElementById("ratio_7_8").value);
            var ratio9_10 = parseInt(document.getElementById("ratio_9_10").value);
            var ratio11_12 = parseInt(document.getElementById("ratio_11_12").value);
            var ratio13_14 = parseInt(document.getElementById("ratio_13_14").value);
            var ratio15_16 = parseInt(document.getElementById("ratio_15_16").value);
            var ratio2_3 = parseInt(document.getElementById("ratio_2_3").value);
            var ratio4_5 = parseInt(document.getElementById("ratio_4_5").value);
            var ratio6_7 = parseInt(document.getElementById("ratio_6_7").value);
            var ratio8_9 = parseInt(document.getElementById("ratio_8_9").value);
            var ratio10_11 = parseInt(document.getElementById("ratio_10_11").value);

            var temp1 = total_quantity1/(ratio2 + ratio3_4 + ratio5_6 + ratio7_8 + ratio9_10 + ratio11_12 + ratio13_14 + ratio15_16 + ratio2_3 + ratio4_5 + ratio6_7 + ratio8_9 + ratio10_11);
            document.getElementById("tempo").value = temp1;
            
            var quanity2 = ratio2 * temp1;
            document.getElementById("2_years").value = quanity2;
            var quanity3_4 = ratio3_4 * temp1;
            document.getElementById("3_4_years").value = quanity3_4;
            var quanity5_6 = ratio5_6 * temp1;
            document.getElementById("5_6_years").value = quanity5_6;
            var quanity7_8 = ratio7_8 * temp1;
            document.getElementById("7_8_years").value = quanity7_8;
            var quanity9_10 = ratio9_10 * temp1;
            document.getElementById("9_10_years").value = quanity9_10;
            var quanity11_12 = ratio11_12 * temp1;
            document.getElementById("11_12_years").value = quanity11_12;
            var quanity13_14 = ratio13_14 * temp1;
            document.getElementById("13_14_years").value = quanity13_14;
            var quanity15_16 = ratio15_16 * temp1;
            document.getElementById("15_16_years").value = quanity15_16;
            var quanity2_3 = ratio2_3 * temp1;
            document.getElementById("2_3_years").value = quanity2_3;
            var quanity4_5 = ratio4_5 * temp1;
            document.getElementById("4_5_years").value = quanity4_5;
            var quanity6_7 = ratio6_7 * temp1;
            document.getElementById("6_7_years").value = quanity6_7;
            var quanity8_9 = ratio8_9 * temp1;
            document.getElementById("8_9_years").value = quanity8_9; 
            var quanity10_11 = ratio10_11 * temp1;
            document.getElementById("10_11_years").value = quanity10_11;

        }
        
//  /---------------------      Function of kids end----------------------------------
        
    //       --------------------   Function of Ethenics start-------------------------
        function myFunction2() {
            var total_quantity2 = parseInt(document.getElementById("order_order_quantity").value);
            var ratioxs = parseInt(document.getElementById("ratio_xs").value);
            var ratios = parseInt(document.getElementById("ratio_s").value);
            var ratiom = parseInt(document.getElementById("ratio_m").value);
            var ratiol = parseInt(document.getElementById("ratio_l").value);
            var ratioxl = parseInt(document.getElementById("ratio_xl").value);
            var ratioxxl = parseInt(document.getElementById("ratio_xxl").value);
            var ratioxxl = parseInt(document.getElementById("ratio_xxxl").value);

            var temp2 = total_quantity2/(ratioxs + ratios + ratiom + ratiol + ratioxl + ratioxxl + ratioxxl);
            document.getElementById("tempo2").value = temp2;
            
            var quanityxs = ratioxs * temp2;
            document.getElementById("xs_size").value = quanityxs;
            var quanitys = ratios * temp2;
            document.getElementById("s_size").value = quanitys;
            var quanitym = ratiom * temp2;
            document.getElementById("m_size").value = quanitym;
            var quanityl = ratiol * temp2;
            document.getElementById("l_size").value = quanityl;
            var quanityxl = ratioxl * temp2;
            document.getElementById("xl_size").value = quanityxl;
            var quanityxxl = ratioxxl * temp2;
            document.getElementById("xxl_size").value = quanityxxl;
            var quanityxxxl = ratioxxl * temp2;
            document.getElementById("xxxl_size").value = quanityxxxl;

        }
//   /----------------------     Function of Ethenics end -----------------------
            
    </script>
    <!-------------------   Quantity Ratio Calculation------------------------->
<!--PAGE CONTENT ENDS HERE-->
{% endblock content %}

{% block script %}

        
{% endblock %}
{% block extrascript %}


{% endblock %}