{% extends 'KNGarment_Order_TrackPro_App/base.html' %}
{% load static %}

{% block stylesheets %}
<style type="text/css">
        .heading_bold {
            font-weight: bold;
            width: 50%;
            text-align: left;
        }
</style>
{% endblock stylesheets %}

{% block content %}

        <!-- PAGE CONTENT  -->
        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn" style="background-color: #87c241;color: white">
                    <i class="fas fa-align-left"></i>
                </button>
                <hr>
                <h2>Order Details</h2>
                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Order Number</td>
                            <td class="text-center">{{orders.order_order_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Type</td>
                            <td class="text-center">{{orders.order_order_type}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Brand</td>
                            <td class="text-center">{{orders.order_order_brands}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Style Number</td>
                            <td class="text-center">{{orders.order_order_style_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fit </td>
                            <td class="text-center">{{orders.order_order_fit}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Quantity</td>
                            <td class="text-center">{{orders.order_order_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Date</td>
                            <td class="text-center">{{orders.order_order_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td class="text-center">{{orders.order_delivery_date}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Category</td>
                            <td class="text-center">{{orders.order_order_category}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Notes</td>
                            <td class="text-center">{{orders.order_order_remark}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <hr>
                {% if order_mens_or_ladies %}
                <h2>Order Mens or Ladies</h2>
                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(26)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_26_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(28)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_28_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(30)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_30_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(32)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_32_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(34)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_34_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(36)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_36_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(38)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_38_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(40)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_40_quantity}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(42)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_42_quantity}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(44)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_44_quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                <br>
                <hr>
                {% if order_kids_order %}
                <h2>Order Kids</h2>
                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Order Kids Age(2)</td>
                            <td class="text-center">{{order_kids.order_kids_age_2_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(3-4)</td>
                            <td class="text-center">{{order_kids.order_kids_age_3to4_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(5-6)</td>
                            <td class="text-center">{{order_kids.order_kids_age_5to6_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(7-8)</td>
                            <td class="text-center">{{order_kids.order_kids_age_7to8_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(9-10)</td>
                            <td class="text-center">{{order_kids.order_kids_age_9to10_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(11-12)</td>
                            <td class="text-center">{{order_kids.order_kids_age_11to12_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(13-14)</td>
                            <td class="text-center">{{order_kids.order_kids_age_13to14_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(15-16)</td>
                            <td class="text-center">{{order_kids.order_kids_age_15to16_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(2-3)</td>
                            <td class="text-center">{{order_kids.order_kids_age_2to3_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(4-5)</td>
                            <td class="text-center">{{order_kids.order_kids_age_4to5_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(6-7)</td>
                            <td class="text-center">{{order_kids.order_kids_age_6to7_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(8-9)</td>
                            <td class="text-center">{{order_kids.order_kids_age_8to9_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(10-11)</td>
                            <td class="text-center">{{order_kids.order_kids_age_10to11_years}}</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                <br>
                <hr>
                {% if order_ethenic %}
                <h2>Order Ethenic</h2>
                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(XS)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_XS}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(S)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_S}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(M)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_M}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(L)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_L}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(XL)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_XL}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(XXL)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_XXL}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(XXXL)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_XXXL}}</td>

                        </tr>
                    </tbody>
                </table>
            {% endif %}

            {% if fabric %}
            <h2>Fabric Details<span><button class="btn" style="background-color: #87c241;color: white">Edit Fabric Details</button></span></h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Sort Number</td>
                            <td>{{fabric.fabric_order_sort_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fabric Supplier</td>
                            <td>{{fabric.process_vendor_name}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Quantity</td>
                            <td>{{fabric.fabric_order_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td>{{fabric.process_delivery_date}}</td>

                        </tr>
                    </tbody>
                </table>
            <hr>
            {% else %}
            <h2>Fabric Details</h2>
            <hr>
            <form action={% url 'KNGarment_Order_TrackPro_App:add_new_fabric_order_form_submit' %} method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label for="fabric_order_sort_number">Sort Number</label>
                        <input type="number" min="1" class="form-control" id="fabric_order_sort_number" name="fabric_order_sort_number">
                    </div>
                    <div class="col">
                        <label for="fabric_supplier">Fabric Supplier</label>
                        <input type="text" min="1" class="form-control" id="process_vendor_name" name="process_vendor_name">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="fabric_order_quantity">Order Quantity</label>
                        <input type="number" min="1" class="form-control" id="process_received_quantity" name="process_received_quantity">
                    </div>
                    <div class="col">
                        <label for="process_delivery_date">Delivery Date</label><br>
                        <input type="date" class="form-control" id="process_delivery_date" name="process_delivery_date">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Fabric Details</button>
                    </div>
                </div>
            </form>
            {% endif %}
            {% if stiching %}
             <h2>Stiching Details<span><button class="btn" style="background-color: #87c241;color: white">Edit Stiching Details</button></span></h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Job Worker Name</td>
                            <td>{{stiching.process_vendor_name}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Job Worker Location</td>
                            <td>{{stiching.process_vendor_location}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Average1</td>
                            <td>{{stiching.stiching_average_one}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Quantity1</td>
                            <td>{{stiching.stiching_rate_one}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Average2</td>
                            <td>{{stiching.stiching_average_two}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Quantity2</td>
                            <td>{{stiching.stiching_rate_two}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Average3</td>
                            <td>{{stiching.stiching_average_three}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Quantity3</td>
                            <td>{{stiching.stiching_rate_three}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td>{{stiching.process_delivery_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Opening Fabric Stock</td>
                            <td>{{stiching.stiching_opening_fabric_stock}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Opening Stock Date</td>
                            <td>{{stiching.stiching_opening_stock_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fabric Received Date</td>
                            <td>{{stiching.process_received_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Bill Number</td>
                            <td>{{stiching.process_bill_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fabric Bill Date</td>
                            <td>{{stiching.stiching_fabric_bill_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fabric Quantity Received </td>
                            <td>{{stiching.process_received_quantity}}</td>

                        </tr><tr>
                            <td class="heading_bold">Fabric Used </td>
                            <td>{{stiching.stiching_fabric_used}}</td>

                        </tr><tr>
                            <td class="heading_bold">Stiching Fabric Bill Number </td>
                            <td>{{stiching.stiching_fabric_bill_number}}</td>

                        </tr><tr>
                            <td class="heading_bold">Bill File </td>
                            <td class="red">{{stiching.process_bill_file}}</td>

                        </tr>
                    </tbody>
                </table>

            <br>
            <hr>
            {% else %}
            <h2>Stiching Details</h2>
            <hr>
             <form action={% url 'KNGarment_Order_TrackPro_App:add_new_stiching_form_submit' %} method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label for="process_vendor_name">Job Worker Name</label>
                        <input type="text" min="1" class="form-control" id="process_vendor_name" name="process_vendor_name">
                    </div>
                    <div class="col">
                        <label for="process_vendor_location">Job Worker Location</label>
                        <input type="text" min="1" class="form-control" id="process_vendor_location" name="process_vendor_location">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="stiching_average_one">Average</label>
                        <input type="number" min="1" class="form-control" id="stiching_average_one" name="stiching_average_one">
                    </div>
                    <div class="col">
                        <label for="stiching_rate_one">Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="stiching_rate_one" name="stiching_rate_one">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="stiching_average_two">Average</label>
                        <input type="number" min="1" class="form-control" id="stiching_average_two" name="stiching_average_two">
                    </div>
                    <div class="col">
                        <label for="stiching_rate_two">Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="stiching_rate_two" name="stiching_rate_two">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="stiching_average_three">Average</label>
                        <input type="number" min="1" class="form-control" id="stiching_average_three" name="stiching_average_three">
                    </div>
                    <div class="col">
                        <label for="stiching_rate_three">Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="stiching_rate_three" name="stiching_rate_three">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="process_delivery_date">Delivery Date</label><br>
                        <input type="date" class="form-control" id="process_delivery_date" name="process_delivery_date">
                    </div>
                    <div class="col">
                        <label for="stiching_opening_fabric_stock">Opening Fabric Stock</label>
                        <input type="number" min="1" class="form-control" id="stiching_opening_fabric_stock" name="stiching_opening_fabric_stock">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="stiching_opening_stock_date">Opening Stock Date</label><br>
                        <input type="date" class="form-control" id="stiching_opening_stock_date" name="stiching_opening_stock_date">
                    </div>
                    <div class="col">
                        <label for="process_received_date">Fabric Received Date</label><br>
                        <input type="date" class="form-control" id="process_received_date" name="process_received_date">
                    </div>
                </div>
                <div class="form-row">
                <div class="col">
                        <label for="fabric_bill_number">Fabric Bill Number</label><br>
                        <div class="form-group">
                            <select class="form-control" id="stiching_fabric_bill_number" name="stiching_fabric_bill_number">
                                {% for bill_number in fabric_bill_numbers %}
                                <option value={{ bill_number.process_bill_number }}>{{ bill_number.process_bill_number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label for="stiching_fabric_bill_date">Fabric Bill Date</label><br>
                        <input type="date" class="form-control" id="stiching_fabric_bill_date" name="stiching_fabric_bill_date">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="process_received_quantity">Fabric Quantity Received </label><br>
                        <input type="number" min="1" class="form-control" id="process_received_quantity" name="process_received_quantity">
                    </div>
                    <div class="col">
                        <label for="stiching_fabric_used">Fabric Used</label><br>
                        <input type="text" class="form-control" id="stiching_fabric_used" name="stiching_fabric_used">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="stiching_fabric_bill_number">Bill Number </label><br>
                        <input type="number" min="1" class="form-control" id="stiching_fabric_bill_number" name='stiching_fabric_bill_number'>
                    </div>
                    <div class="col">
                        <label for="process_bill_file">Bill File</label><br>
                        <input type="file" class="form-control" id="process_bill_file" name="process_bill_file">
                    </div>
                </div>



                <br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Stiching Details</button>
                    </div>
                </div>
            </form>
            {% endif %}
            {% if washing %}
             <h2>Washing Details<span><button class="btn" style="background-color: #87c241;color: white">Edit Washing Details</button></span></h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Washer Name</td>
                            <td>{{washing.process_vendor_name}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Washer Location</td>
                            <td>{{washing.process_vendor_location}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Received Quantity</td>
                            <td>{{washing.process_received_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Received Date</td>
                            <td>{{washing.process_received_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Process</td>
                            <td>{{washing.washing_process_name}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Rate</td>
                            <td>{{washing.washing_rate}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td>{{washing.process_delivery_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Delivery Quantity</td>
                            <td>{{washing.washing_delivery_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Bill Number</td>
                            <td>{{washing.process_bill_number}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Bill File</td>
                            <td class="red">{{washing.process_bill_file}}</td>

                        </tr>
                    </tbody>
                </table>
            <hr>
            {% else %}
            <h2>Washing Details</h2>
            <hr>
             <form action={% url 'KNGarment_Order_TrackPro_App:add_new_washing_order_form_submit' %} method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label for="process_vendor_name">Washer Name</label>
                        <input type="text" class="form-control" id="process_vendor_name" name="process_vendor_name">
                    </div>
                    <div class="col">
                        <label for="process_vendor_location">Washer Location</label>
                        <input type="text" class="form-control" id="process_vendor_location" name="process_vendor_location">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="process_received_quantity">Received Quantity</label>
                        <input type="number" min="1" class="form-control" id="process_received_quantity" name="process_received_quantity">
                    </div>
                    <div class="col">
                        <label for="process_received_date">Received Date</label><br>
                        <input type="date" class="form-control" id="process_received_date" name="process_received_date">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="washing_process_name">Process</label><br>
                        <input type="text" class="form-control" id="washing_process_name" name="washing_process_name">
                    </div>
                    <div class="col">
                        <label for="washing_rate">Rate</label>
                        <input type="number" min="1" class="form-control" id="washing_rate" name="washing_rate">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="process_delivery_date">Delivery Date</label><br>
                        <input type="date" class="form-control" id="process_delivery_date" name="process_delivery_date">
                    </div>
                    <div class="col">
                        <label for="washing_delivery_quantity">Delivery Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="washing_delivery_quantity" name="washing_delivery_quantity">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="process_bill_number">Bill Number </label><br>
                        <input type="number" min="1" class="form-control" id="process_bill_number" name="process_bill_number">
                    </div>
                    <div class="col">
                        <label for="process_bill_file">Bill File</label><br>
                        <input type="file" class="form-control" id="process_bill_file" name="process_bill_file">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Washing Details</button>
                    </div>
                </div>
            </form>
            {% endif %}

            {% if finishing %}
             <h2>Finishing Details<span><button class="btn" style="background-color: #87c241;color: white">Edit Finishing Details</button></span></h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Finishing Name</td>
                            <td>{{finishing.process_vendor_name}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Finishing Location</td>
                            <td>{{finishing.process_vendor_location}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Received Quantity</td>
                            <td>{{finishing.process_received_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Received Date</td>
                            <td>{{finishing.process_received_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Rate</td>
                            <td>{{finishing.finishing_rate}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td>{{finishing.process_delivery_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Delivery Quantity</td>
                            <td>{{finishing.finishing_delivery_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Bill Number</td>
                            <td>{{finishing.process_bill_number}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Bill File</td>
                            <td class="red">{{finishing.process_bill_file}}</td>

                        </tr>
                    </tbody>
                </table>
                {% else %}
            <h2>Finishing Details</h2>
            <hr>
            <form action={% url 'KNGarment_Order_TrackPro_App:add_new_finishing_order_form_submit' %} method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label for="process_vendor_name">Finishing Name</label>
                         <input type="text" class="form-control" id="process_vendor_name" name="process_vendor_name">
                    </div>
                    <div class="col">
                        <label for="process_vendor_location">Finishing Location</label>
                           <input type="text" class="form-control" id="process_vendor_location" name="process_vendor_location">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="process_received_quantity">Received Quantity</label>
                        <input type="number" min="1" class="form-control" id="process_received_quantity" name="process_received_quantity">
                    </div>
                    <div class="col">
                        <label for="process_received_date">Received Date</label><br>
                        <input type="date" class="form-control" id="process_received_date" name="process_received_date">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="finishing_rate">Rate</label>
                        <input type="number" min="1" class="form-control" id="finishing_rate" name="finishing_rate">
                    </div>
                    <div class="col">
                        <label for="process_delivery_date">Delivery Date</label><br>
                        <input type="date" class="form-control" id="process_delivery_date" name="process_delivery_date">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="finishing_delivery_quantity">Delivery Quantity</label><br>
                        <input type="number" min="1" class="form-control" id="finishing_delivery_quantity" name="finishing_delivery_quantity">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="process_bill_number">Bill Number </label><br>
                        <input type="number" min="1" class="form-control" id="process_bill_number" name="process_bill_number">
                    </div>
                    <div class="col">
                        <label for="process_bill_file">Bill File</label><br>
                        <input type="file" class="form-control" id="process_bill_file" name="process_bill_file">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Finishing Details</button>
                    </div>
                </div>
            </form>
            {% endif %}



            <br>
            <hr>
            <h2>Dispatch Details</h2>
            <hr>
            <form action={% url 'KNGarment_Order_TrackPro_App:add_new_dispatch_order_form_submit' %} method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label for="dispatch_received_quantity">Received Quantity</label>
                        <input type="number" min="1" class="form-control" id="dispatch_received_quantity" name="dispatch_received_quantity">
                    </div>
                    <div class="col">
                        <label for="dispatch_received_date">Received Date</label><br>
                        <input type="date" class="form-control" id="dispatch_received_date" name="dispatch_received_date">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="dispatch_dispatch_quantity">Dispatch Quantity</label>
                        <input type="number" min="1" class="form-control" id="dispatch_dispatch_quantity" name="dispatch_dispatch_quantity">
                    </div>
                    <div class="col">
                        <label for="dispatch_balance_quantity">Balance Quantity</label>
                        <input type="number" min="1" class="form-control" id="dispatch_balance_quantity" name="dispatch_balance_quantity">
                    </div>

                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="dispatch_rejected_quantity">Rejected Quantity</label>
                        <input type="number" min="1" class="form-control" id="dispatch_rejected_quantity" name="dispatch_rejected_quantity">
                    </div>
                    <div class="col">
                        <label for="dispatch_bill_number">Bill Number </label><br>
                        <input type="number" min="1" class="form-control" id="dispatch_bill_number" name="dispatch_bill_number">
                    </div>
                </div>
                <div class="form-row">

                    <div class="col">
                        <label for="dispatch_bill_file">Bill File</label><br>
                        <input type="file" class="form-control" id="dispatch_bill_file" name="dispatch_bill_file" placeholder="Import PDF File">
                    </div>
                </div>


                <br>
                <div class="form-row">
                    <div class="col">
                        <button class="btn" style="background-color: #87c241;color: white">Save Dispatching Details</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--PAGE CONTENT ENDS HERE-->

{% endblock content %}

{% block script %}

        
{% endblock %}
{% block extrascript %}


{% endblock %}