{% extends 'KNGarment_Order_TrackPro_App/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<style type="text/css">
    .modal-body {
        height: 50% !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<!-- PAGE CONTENT  -->
<div id="content">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn" style="background-color: #87c241;color: white">
            <i class="fas fa-align-left"></i>
        </button>
        <hr>
        <h2>Finishing</h2>
        <hr>
        <div>
            <table id="test_table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Finishing Name</th>
                        <th> Finishing Location</th>
                        <th>Received Quantity</th>
                        <th> Received Date</th>
                        <th>Rate</th>
                        <th> Delivery Date</th>
                        <th>Delivery Quantity</th>
                        <th>Bill Number</th>
                        <th>Bill File</th>
                        <th>Status</th>
                        <th>Update Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for finishing in finishing_order %}
                    <tr>
                        <td>{{finishing.process_vendor_name}}</td>
                        <td>{{finishing.process_vendor_location}}</td>
                        <td>{{finishing.process_received_quantity}}</td>
                        <td>{{finishing.process_received_date}}</td>
                        <td>{{finishing.finishing_rate}}</td>
                        <td>{{finishing.process_delivery_date}}</td>
                        <td>{{finishing.finishing_delivery_quantity}}</td>
                        <td>{{finishing.process_bill_number}}</td>
                        <td>{{finishing.process_bill_file}}</td>
                        <td>{{finishing.process_bill_file}}</td>
                        <td>
                            <button type="button" class="update-order btn btn-sm btn-primary" data-id="{% url 'KNGarment_Order_TrackPro_App:finishing_order_update' pk=finishing.pk  %}">
                                <span class="fa fa-edit"></span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>




    </div>
</div>
<!--PAGE CONTENT ENDS HERE-->
{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

{% endblock %}

{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#test_table').DataTable();
    });
</script>
<script type="text/javascript">
    $(function() {
        $(".update-order").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
        $(".delete-order").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });

        $(".read-order").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
    });
</script>

{% endblock %}