{% extends 'KNGarment_Order_TrackPro_App/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<style type="text/css">
        .heading_bold {
            font-weight: bold;
            width: 50%;
            text-align: left;
        }
         .red{
             color: red;
         }
         
         span{
             float: right;
         }
</style>
{% endblock stylesheets %}

{% block content %}
    

        <!-- PAGE CONTENT  -->
        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn" style="background-color: #87c241;color: white">
                    <i class="fas fa-align-left"></i>
                </button>
                <hr>
                 <h2>Order Details</h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Order Number</td>
                            <td class="text-center">{{orders.order_order_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Type</td>
                            <td class="text-center">{{orders.order_order_type}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Brand</td>
                            <td class="text-center">{{orders.order_order_brands}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Style Number</td>
                            <td class="text-center">{{orders.order_order_style_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fit </td>
                            <td class="text-center">{{orders.order_order_fit}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Quantity</td>
                            <td class="text-center">{{orders.order_order_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Date</td>
                            <td class="text-center">{{orders.order_order_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td class="text-center">{{orders.order_delivery_date}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Category</td>
                            <td class="text-center">{{orders.order_order_category}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Notes</td>
                            <td class="text-center">{{orders.order_order_remark}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <hr>
                <h2>Order Mens or Ladies</h2>
                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(26)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_26_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(28)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_28_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(30)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_30_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(32)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_32_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(34)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_34_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(36)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_36_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(38)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_38_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(40)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_40_quantity}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(42)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_42_quantity}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Mens or Ladies Size(44)</td>
                            <td class="text-center">{{order_mens_or_ladies.order_mens_or_ladies_size_44_quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <hr>
                <h2>Order Kids</h2>
                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Order Kids Age(2)</td>
                            <td class="text-center">{{order_kids.order_kids_age_2_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(3-4)</td>
                            <td class="text-center">{{order_kids.order_kids_age_3to4_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(5-6)</td>
                            <td class="text-center">{{order_kids.order_kids_age_5to6_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(7-8)</td>
                            <td class="text-center">{{order_kids.order_kids_age_7to8_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(9-10)</td>
                            <td class="text-center">{{order_kids.order_kids_age_9to10_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(11-12)</td>
                            <td class="text-center">{{order_kids.order_kids_age_11to12_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(13-14)</td>
                            <td class="text-center">{{order_kids.order_kids_age_13to14_years}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(15-16)</td>
                            <td class="text-center">{{order_kids.order_kids_age_15to16_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(2-3)</td>
                            <td class="text-center">{{order_kids.order_kids_age_2to3_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(4-5)</td>
                            <td class="text-center">{{order_kids.order_kids_age_4to5_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(6-7)</td>
                            <td class="text-center">{{order_kids.order_kids_age_6to7_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(8-9)</td>
                            <td class="text-center">{{order_kids.order_kids_age_8to9_years}}</td>
                        </tr>
                        <tr>
                            <td class="heading_bold">Order Kids Age(10-11)</td>
                            <td class="text-center">{{order_kids.order_kids_age_10to11_years}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <hr>
                <h2>Order Ethenic</h2>
                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(XS)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_XS}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(S)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_S}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(M)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_M}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(L)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_L}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(XL)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_XL}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(XXL)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_XXL}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Ethenic Size(XXXL)</td>
                            <td class="text-center">{{order_ethenic.order_ethenic_size_XXXL}}</td>

                        </tr>
                    </tbody>
                </table>
                 <hr>
                 <h2>Fabric Details<span><button class="btn" style="background-color: #87c241;color: white">Edit Fabric Details</button></span></h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Sort Number</td>
                            <td>{{fabric.fabric_order_sort_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fabric Supplier</td>
                            <td>{{fabric.process_vendor_name}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Order Quantity</td>
                            <td>{{fabric.fabric_order_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td>{{fabric.process_delivery_date}}</td>

                        </tr>
                    </tbody>
                </table>
                
                
                
                 <hr>
                 <h2>Stiching Details<span><button class="btn" style="background-color: #87c241;color: white">Edit Stiching Details</button></span></h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Job Worker Name</td>
                            <td>{{stiching.process_vendor_name}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Job Worker Location</td>
                            <td>{{stiching.process_vendor_location}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Average1</td>
                            <td>{{stiching.stiching_average_one}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Quantity1</td>
                            <td>{{stiching.stiching_rate_one}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Average2</td>
                            <td>{{stiching.stiching_average_two}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Quantity2</td>
                            <td>{{stiching.stiching_rate_two}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Average3</td>
                            <td>{{stiching.stiching_average_three}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Quantity3</td>
                            <td>{{stiching.stiching_rate_three}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td>{{stiching.process_delivery_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Opening Fabric Stock</td>
                            <td>{{stiching.stiching_opening_fabric_stock}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Opening Stock Date</td>
                            <td>{{stiching.stiching_opening_stock_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fabric Received Date</td>
                            <td>{{stiching.process_received_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Bill Number</td>
                            <td>{{stiching.process_bill_number}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fabric Bill Date</td>
                            <td>{{stiching.stiching_fabric_bill_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Fabric Quantity Received </td>
                            <td>{{stiching.process_received_quantity}}</td>

                        </tr><tr>
                            <td class="heading_bold">Fabric Used </td>
                            <td>{{stiching.stiching_fabric_used}}</td>

                        </tr><tr>
                            <td class="heading_bold">Stiching Fabric Bill Number </td>
                            <td>{{stiching.stiching_fabric_bill_number}}</td>

                        </tr><tr>
                            <td class="heading_bold">Bill File </td>
                            <td class="red">{{stiching.process_bill_file}}</td>

                        </tr>
                    </tbody>
                </table>
                
                
                
                <br>
                 <hr>
                 <h2>Washing Details<span><button class="btn" style="background-color: #87c241;color: white">Edit Washing Details</button></span></h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Washer Name</td>
                            <td>{{washing.process_vendor_name}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Washer Location</td>
                            <td>{{washing.process_vendor_location}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Received Quantity</td>
                            <td>{{washing.process_received_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Received Date</td>
                            <td>{{washing.process_received_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Process</td>
                            <td>{{washing.washing_process_name}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Rate</td>
                            <td>{{washing.washing_rate}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td>{{washing.process_delivery_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Delivery Quantity</td>
                            <td>{{washing.washing_delivery_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Bill Number</td>
                            <td>{{washing.process_bill_number}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Bill File</td>
                            <td class="red">{{washing.process_bill_file}}</td>

                        </tr>
                    </tbody>
                </table>
                
                
                
                 <br>
                 <hr>
                 <h2>Finishing Details<span><button class="btn" style="background-color: #87c241;color: white">Edit Finishing Details</button></span></h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Finishing Name</td>
                            <td>{{finishing.process_vendor_name}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Finishing Location</td>
                            <td>{{finishing.process_vendor_location}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Received Quantity</td>
                            <td>{{finishing.process_received_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Received Date</td>
                            <td>{{finishing.process_received_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Rate</td>
                            <td>{{finishing.finishing_rate}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Delivery Date</td>
                            <td>{{finishing.process_delivery_date}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Delivery Quantity</td>
                            <td>{{finishing.finishing_delivery_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Bill Number</td>
                            <td>{{finishing.process_bill_number}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Bill File</td>
                            <td class="red">{{finishing.process_bill_file}}</td>

                        </tr>
                    </tbody>
                </table>
                   
                 <br>
                 <hr>
                 <h2>Dispatch Details<span><button class="btn" style="background-color: #87c241;color: white">Edit Dispatch Details</button></span></h2>

                <table class="table" style="text-align: center">
                    <tbody>
                        <tr>
                            <td class="heading_bold">Received Quantity</td>
                            <td>{{dispatch.dispatch_received_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Received Date</td>
                            <td>{{dispatch.dispatch_received_date}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Dispatch Quantity</td>
                            <td>{{dispatch.dispatch_dispatch_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Balance Quantity</td>
                            <td>{{dispatch.dispatch_balance_quantity}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Rejected Quantity</td>
                            <td>{{dispatch.dispatch_rejected_quantity}}</td>

                        </tr>
                        <tr>
                            <td class="heading_bold">Bill Number</td>
                            <td>{{dispatch.dispatch_bill_number}}</td>

                        </tr> 
                        <tr>
                            <td class="heading_bold">Bill File</td>
                            <td class="red">{{dispatch.dispatch_bill_file}}</td>

                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function() {
    $('#test_table').DataTable();
    });
</script>

{% endblock %}