{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href={% static 'KNGarment_Order_TrackPro_App/css/bootstrap.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'KNGarment_Order_TrackPro_App/css/fontawesome-all.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'KNGarment_Order_TrackPro_App/css/iofrm-style.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'KNGarment_Order_TrackPro_App/css/iofrm-theme5.css' %}>
</head>
<body>
    <div class="form-body" style="background-color: #243c46 !important;">
        <div class="row">
            <div class="form-holder" style="background-color: #243c46 !important;">
                <div class="form-content" style="background-color: #243c46 !important;">
                    <div class="form-items">
                        <h3>Register</h3>
                        <p>Enter your details to make a new account!</p>
                        <div class="page-links">
                            <a href={% url 'KNGarment_Order_TrackPro_App:user_login' %}>Login</a><a href={% url 'KNGarment_Order_TrackPro_App:register' %} class="active">Register</a>
                        </div>
                        {% if error_message %}
						<p style='color:red'>{{ error_message }}</p>
						{% endif %}
                        <form method="post" action={% url 'KNGarment_Order_TrackPro_App:register' %}>
                         {% csrf_token %}
                            <input class="form-control" type="text" name="username" placeholder="Username" required>
							<input class="form-control" type="password" name="password" placeholder="Password" required>
							<input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" required>
							<div class="form-button">
								<button id="submit" type="submit" class="ibtn" style="background-color: #87c241;color: white">Register</button>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>